<!-- Main-content begin -->
<div class="main-content">
	<div class="container">
		<div class="sidebar">
			<nav class="product-menu">
            	<ul>
	                <li class="heading"><h3>Product menu</h3></li>
	                <li class="menu-item "><a href="#" class="animation"><i class="fa fa-caret-right"></i>Man</a></li>
	                <li class="menu-item "><a href="#" class="animation"><i class="fa fa-caret-right"></i>Woman</a></li>
	                <li class="menu-item "><a href="#" class="  active animation"><i class="fa fa-caret-right"></i>Fashin 2013</a></li>
	                <li class="menu-item "><a href="#" class="animation"><i class="fa fa-caret-right"></i>Kids</a></li>
	                <li class="menu-item  sub"><a href="#" class="animation"><i class="fa fa-caret-right"></i>Jeans</a>
	                	<div class="sub_menu">
		                    <ul>
			                    <li class="sub_menu-item "><a href="#" class="animation"><i class="fa fa-caret-right"></i>Cool</a></li>
			                    <li class="sub_menu-item"><a href="#" class="animation"><i class="fa fa-caret-right"></i>New collection</a></li>
			                    <li class="sub_menu-item"><a href="#" class="animation"><i class="fa fa-caret-right"></i>Old collection</a></li>
		                    </ul>
	                	</div>
	                </li>
	                <li class="menu-item  sub"><a href="#" class="animation"><i class="fa fa-caret-right"></i>Tshirt</a>
	                	<div class="sub_menu">
		                    <ul>
			                    <li class="sub_menu-item "><a href="#" class="animation"><i class="fa fa-caret-right"></i>Cool</a></li>
			                    <li class="sub_menu-item"><a href="#" class="animation"><i class="fa fa-caret-right"></i>New collection</a></li>
			                    <li class="sub_menu-item"><a href="#" class="animation"><i class="fa fa-caret-right"></i>Old collection</a></li>
		                    </ul>
	                	</div>
	                </li>
	                <li class="menu-item "><a href="#" class="animation"><i class="fa fa-caret-right"></i>Top Fashion</a></li>
	                <li class="menu-item  sub"><a href="#" class="animation"><i class="fa fa-caret-right"></i>Summer collection</a>
	                	<div class="sub_menu">
		                    <ul>
			                    <li class="sub_menu-item "><a href="#" class="animation"><i class="fa fa-caret-right"></i>Cool</a></li>
			                    <li class="sub_menu-item"><a href="#" class="animation"><i class="fa fa-caret-right"></i>New collection</a></li>
			                    <li class="sub_menu-item"><a href="#" class="animation"><i class="fa fa-caret-right"></i>Old collection</a></li>
		                    </ul>
	                	</div>
	                </li>
	                <li class="menu-item"><a href="#" class="animation"><i class="fa fa-caret-right"></i>Special Offer</a></li>
            	</ul>
            </nav>
            <div class="deliver_block">
				<a href="#" style="background-image:url(images/deliver_bg.png);height: 189px;"></a>
			</div>
			<div class="twitter top">
				<h5 class="twitter__heading heading">Latest from twitter</h5>
				<ul class="twitter__list">
					<li class="tweet tweet_text">
						<span class="tweet_author">@crucio</span>what an incredible site!
						<p class="tweet_time">less than a minute ago</p>
						<li>
					<li class="tweet tweet_text">
						<span class="tweet_author">@lukebeck</span>love this theme, tons of options, lots of goodies and crazy good support.  I cant ask for anything better!
						<p class="tweet_time">about 3 hours ago</p>
					</li>
					<li class="tweet tweet_text">
						<span class="tweet_author">@harikumar</span> where do you get support for account issues?http://t.co/sr324nLrQw 
						<p class="tweet_time">less than a minute ago</p>
					</li>
				</ul>
			</div>
			<div class="clients top">
				<h5 class="heading clients_heading">Our happy clients</h5>
				<div class="block">
					<blockquote>“Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consec tetur, adipisci velit, sed quia non numquam eius labore et dolore magnam ets aliquam quaerat voluptatemser.  
					Enim ad minimas venians amets</blockquote>
				</div>
				<div class="client"><i class="icon-client"></i>Jon Doe, Company Inc.</div>
			</div>
		</div>
		<!-- Products -->
		<div class="products">
			<div class="products_list">
				<div class="row">
					<div class="item col col-4">
		                <div class="item-wrap">
		                	<div class="img">
		                		<a href="#">
		                    		<img src="images/item_img3.jpg" alt="">
		                    	</a>
		                  	</div>
		                  	<div class="info">
			                    <h2>Kids Moon Colorblock</h2>
			                    <p>Footed Tights</p>
		                    	<div class="info_bottom">
		                      		<div class="price"><span>$</span>8.<sup>99</sup></div>
		                      		<div class="info_btn">
		                        		<a href="#" class="btn btn_bg">Get it</a>
		                      		</div>
		                    	</div>
		                  	</div>
		                </div>
	              	</div>
	              	<div class="item_big col  col-8">
		                <div class="item-wrap">
		                	<div class="img">
		                		<a href="#">
		                    		<img src="images/item_img2.jpg" alt="">
		                    	</a>
		                  	</div>
		                  	<div class="info">
			                    <h2>Serax Fibrefox</h2>
		                    	<div class="info_bottom">
		                    		<div class="price"><span>$</span>12.<sup>99</sup></div>
		                    		<div class="info_btn">
		                        		<a href="#" class="btn btn_bg">Get it</a>
		                      		</div>
		                    	</div>
		                  	</div>
		                </div>
	              	</div>
				</div>
				<div class="row">
					<div class="item col col-4">
		                <div class="item-wrap">
		                	<div class="img">
		                    	<a href="#">
		                    		<img src="images/item_img3.jpg" alt="">
		                    	</a>
		                  	</div>
		                  	<div class="info">
			                    <h2>Kids Moon Colorblock</h2>
			                    <p>Footed Tights</p>
		                    	<div class="info_bottom">
		                      		<div class="price"><span>$</span>120.<sup>99</sup></div>
		                      		<div class="info_btn">
		                        		<a href="#" class="btn btn_bg">Get it</a>
		                      		</div>
		                    	</div>
		                  	</div>
		                </div>
	              	</div>
	              	<div class="item col col-4">
		                <div class="item-wrap">
		                	<div class="img">
		                    	<a href="#">
		                    		<img src="images/item_img4.jpg" alt="">
		                    	</a>
		                  	</div>
		                  	<div class="info">
			                    <h2>Kids Moon Colorblock</h2>
			                    <p>Footed Tights</p>
		                    	<div class="info_bottom">
		                      		<div class="price"><span>$</span>10.<sup>99</sup></div>
		                      		<div class="info_btn">
		                        		<a href="#" class="btn btn_bg">Get it</a>
		                      		</div>
		                    	</div>
		                  	</div>
		                </div>
	              	</div>
	              	<div class="item col col-4">
		                <div class="item-wrap">
		                	<div class="img">
		                    	<a href="#">
		                    		<img src="images/item_img5.jpg" alt="">
		                    	</a>
		                  	</div>
		                  	<div class="info">
			                    <h2>Kids Moon Colorblock</h2>
			                    <p>Footed Tights</p>
		                    	<div class="info_bottom">
		                      		<div class="price"><span>$</span>5.<sup>99</sup></div>
		                      		<div class="info_btn">
		                        		<a href="#" class="btn btn_bg">Get it</a>
		                      		</div>
		                    	</div>
		                  	</div>
		                </div>
	              	</div>
				</div>
				<div class="row">
					<div class="item col col-4">
		                <div class="item-wrap">
		                	<div class="img">
		                    	<a href="#">
		                    		<img src="images/item_img6.jpg" alt="">
		                    	</a>
		                  	</div>
		                  	<div class="info">
			                    <h2>Kids Moon Colorblock</h2>
			                    <p>Footed Tights</p>
		                    	<div class="info_bottom">
		                      		<div class="price"><span>$</span>20.<sup>99</sup></div>
		                      		<div class="info_btn">
		                        		<a href="#" class="btn btn_bg">Get it</a>
		                      		</div>
		                    	</div>
		                  	</div>
		                </div>
	              	</div>
	              	<div class="item col col-4">
		                <div class="item-wrap">
		                	<div class="img">
		                    	<a href="#">
		                    		<img src="images/item_img7.jpg" alt="">
		                    	</a>
		                  	</div>
		                  	<div class="info">
			                    <h2>Kids Moon Colorblock</h2>
			                    <p>Footed Tights</p>
		                    	<div class="info_bottom">
		                      		<div class="price"><span>$</span>23.<sup>99</sup></div>
		                      		<div class="info_btn">
		                        		<a href="#" class="btn btn_bg">Get it</a>
		                      		</div>
		                    	</div>
		                  	</div>
		                </div>
	              	</div>
	              	<div class="item col col-4">
		                <div class="item-wrap">
		                	<div class="img">
		                    	<a href="#">
		                    		<img src="images/item_img8.jpg" alt="">
		                    	</a>
		                  	</div>
		                  	<div class="info">
			                    <h2>Kids Moon Colorblock</h2>
			                    <p>Footed Tights</p>
		                    	<div class="info_bottom">
		                      		<div class="price"><span>$</span>66.<sup>99</sup></div>
		                      		<div class="info_btn">
		                        		<a href="#" class="btn btn_bg">Get it</a>
		                      		</div>
		                    	</div>
		                  	</div>
		                </div>
	              	</div>
				</div>
			</div>
			<!-- Popular_products -->
			<div class="popular_products">
				<h4><span>Popular</span> products now</h4>
				<div class="row">
					<div class="item col col-4">
		                <div class="item-wrap">
		                	<div class="img">
		                		<a href="#">
		                    		<img src="images/popular_item_img9.jpg" alt="">
		                    		<div class="label">
		                    			<span class="label_text">Hot</span>
		                    		</div>
		                    	</a>
		                  	</div>
		                  	<div class="info">
			                    <h2>Kids Moon Colorblock</h2>
			                    <p>Footed Tights</p>
		                    	<div class="info_bottom">
		                      		<div class="price"><span>$</span>8.<sup>00</sup></div>
		                      		<div class="info_btn">
		                        		<a href="#" class="btn btn_bg">Get it</a>
		                      		</div>
		                    	</div>
		                  	</div>
		                </div>
	              	</div>
	              	<div class="item col col-4">
		                <div class="item-wrap">
		                	<div class="img">
		                    	<a href="#">
		                    		<img src="images/popular_item_img10.jpg" alt="">
		                    	</a>
		                  	</div>
		                  	<div class="info">
			                    <h2>Kids Moon Colorblock</h2>
			                    <p>Footed Tights</p>
		                    	<div class="info_bottom">
		                      		<div class="price"><span>$</span>14.<sup>99</sup></div>
		                      		<div class="info_btn">
		                        		<a href="#" class="btn btn_bg">Get it</a>
		                      		</div>
		                    	</div>
		                  	</div>
		                </div>
	              	</div>
	              	<div class="item col col-4">
		                <div class="item-wrap">
		                	<div class="img">
		                    	<a href="#">
		                    		<img src="images/popular_item_img11.jpg" alt="">
		                    	</a>
		                  	</div>
		                  	<div class="info">
			                    <h2>Kids Moon Colorblock</h2>
			                    <p>Footed Tights</p>
		                    	<div class="info_bottom">
		                      		<div class="price"><span>$</span>8.<sup>99</sup></div>
		                      		<div class="info_btn">
		                        		<a href="#" class="btn btn_bg">Get it</a>
		                      		</div>
		                    	</div>
		                  	</div>
		                </div>
	              	</div>
				</div>
				<div class="row">
					<div class="item col col-4">
		                <div class="item-wrap">
		                	<div class="img">
		                    	<a href="#">
		                    		<img src="images/popular_item_img12.jpg" alt="">
		                    	</a>
		                  	</div>
		                  	<div class="info">
			                    <h2>Kids Moon Colorblock</h2>
			                    <p>Footed Tights</p>
		                    	<div class="info_bottom">
		                      		<div class="price"><span>$</span>8.<sup>99</sup></div>
		                      		<div class="info_btn">
		                        		<a href="#" class="btn btn_bg">Get it</a>
		                      		</div>
		                    	</div>
		                  	</div>
		                </div>
	              	</div>
	              	<div class="item_big col col-8">
		                <div class="item-wrap">
		                	<div class="img">
		                    	<a href="#">
		                    		<img src="images/popular_item_img13.jpg" alt="">
		                    		<div class="corner-ribbon">Exclusive</div>
		                    	</a>
		                  	</div>
		                  	<div class="info">
			                    <h2>Serax Fibrefox</h2>
		                    	<div class="info_bottom">
		                    		<div class="price"><span>$</span>8.<sup>99</sup></div>
		                    		<div class="info_btn">
		                        		<a href="#" class="btn btn_bg">Get it</a>
		                      		</div>
		                    	</div>
		                  	</div>
		                </div>
	              	</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Content -->