<!-- footer begin -->
<footer class="footer">
	<div class="bg_line"></div>
	<div class="footer__top">
			<div class="container">
				<ul class="footer__top_nav">
					<li class="nav__item about">
						<h5 class="nav__item_heading heading">About</h5>
						<div class="footer__logo">
							<h1><a href="">Fashion<span>Press</span></a></h1>
						</div>
						<p class="about_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sollicitudin sem nec leo tempus fermentum. Integer consequat, turpis eget lobortis.</p>
					</li>
					<li class="nav__item follow">
						<h5 class="nav__item_heading heading">Follow us</h5>
						<ul class="social">
							<li><a href=""><i class="fa fa-facebook"></i>Facebook</a></li>
							<li><a href=""><i class="fa fa-twitter"></i>Twitter</a></li>
							<li><a href=""><i class="fa fa-google-plus"></i>Google</a></li>
							<li><a href=""><i class="fa fa-instagram"></i>Instagram</a></li>
						</ul>
					</li>
					<li class="nav__item contact">
						<h5 class="nav__item_heading heading">Contact info</h5>
						<ul class="contact-info">
							<li>Phone:<a href="tel:1.800.555.6789">1.800.555.6789</a></li>
							<li>Fax:<a href="">1.888.555.9876</a></li>
							<li>Email:<a href="mailto:letschat@11thagency.com">letschat@11thagency.com</a></li>
						</ul>
						<p class="adress">John Doe, Comapny Inc.12345 North Main Street Anywhere, USA</p>
					</li>
				</ul>
			</div>
	</div>
	<div class="footer__bottom">
		<div class="container">
			<ul class="footer__bottom_nav">
				<li><a href="#">Terms of Service</a></li>
				<li><a href="#">Privacy Policy</a></li>
				<li><a href="#">Creative Rights Policy</a></li>
				<li><a href="#">Contact Us</a></li>
				<li><a href="#">Support & FAQ</a></li>
			</ul>
			<div class="creator">Creative Studio</div>
		</div>
	</div>
</footer>
<!-- footer  -->