<!-- Header begin -->
<header class="header">
    <div class="header__top">
      <div class="container">
        <div class="header__logo">
          <h1><a href="">Fashion<span>Press</span></a></h1>
        </div>
        <div class="user-menu">
          <ul>
            <li class="hub cart"><a href="#" id="product_cart">Shopping Cart <span id="item_count">(0)</span><i class="fa fa-shopping-cart"></i></a></li>
            <li class="hub sign"><a href="#">Sign In</a></li>
            <li class="hub join"><a href="#">Join</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="header__nav">
      <div class="container">
        <nav class="nav">
            <ul>
              <li><a href="#" class="animation">Home</a></li>
              <li><a href="#" class="animation">About us</a></li>
              <li><a href="#" class="animation">Careers</a></li>
              <li><a href="#" class="animation">Contact us</a></li>
              <li><a href="#" class="animation">Company profile</a></li>
              <li><a href="#" class="animation">Company registration</a></li>
              <li><a href="#" class="animation">Wish list</a></li>
            </ul>
        </nav>
      </div>
    </div>
</header>
<!-- Header -->