<div class="search__panel">
  <div class="container">
    <div class="search">
      <form action="#" class="form_search">
         <label for="search">Search product</label>
          <input type="text"  id="search" placeholder="Search">
          <input type="submit" class="btn fa fa-search" value="&#xf002;">
      </form>
    </div>
    <div class="search__panel_list">
      <a href="#" ><i class="fa fa-bars"></i></a>
      <a href="#" ><i class="fa fa-list-ul"></i></a>
    </div>
  </div>
</div>