<!-- Slider -->
<div class="flexslider">
  <ul class="slides">
    <li>
      <div class="slide">
        <div class="slide__img">
          <img src="images/slide1.png" alt="" />
        </div>
        <div class="slide__text">
          <p>We provide worlds top fashion for less fashionpress.</p>
          <span>FashionPress the name of hi class fashion web.</span>
        </div>
      </div>
    </li>
    <li>
      <div class="slide">
        <div class="slide__img">
          <img src="images/slide1.png" alt=""/>
        </div>
        <div class="slide__text">
          <p>Sed ut perspiciatis .</p>
          <span>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</span>
        </div>
      </div>
    </li>
    <li>
      <div class="slide">
        <div class="slide__img">
          <img src="images/slide1.png" alt=""/>
        </div>
        <div class="slide__text">
          <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
          <span>doloribus asperiores repellat.</span>
        </div>
      </div>
    </li>
  </ul>
</div>
<!--Slider end  -->