@each $font-face in OpenSansLight, RobotoMedium, MyriadPro-Regular, Roboto-MediumItalic, PTSansItalic{
    @font-face {
          font-family: $font-face; font-style: normal; font-weight: normal;
          src: url('../fonts/#{$font-face}.eot?#iefix');
          src: url('../fonts/#{$font-face}.eot?') format('eot'),
               url('../fonts/#{$font-face}.woff') format('woff'),
               url('../fonts/#{$font-face}.ttf')  format('truetype');
    }
}
@mixin font($font, $style: normal, $weight: normal) {
    font-family: $font,sans-serif;
    font-style:  $style;
    font-weight: $weight;
}
